<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home.css">
    
    <title>Profile</title>

</head>

<% 
function formatPhoneNumber(phoneNumberString) {
    var cleaned = ('' + phoneNumberString).replace(/\D/g, '')
    var match = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/)
    if (match) {
      return '(' + match[1] + ') ' + match[2] + '-' + match[3]
    }
    return null
  }
  function formatDate(dateString) {
    var date = dateString.substr(0,2) + "/" + dateString.substr(2,2) + "/" + dateString.substr(4);
    return date
  }
  %>

<body>

    <div class="row">

        <div class="logo container col-2">
            <img src="../img/testing.webp" alt="logo">
            <div class="container sections prof-section">

                <ul class="links">
                    <li><a href="/home">Employees</a></li>
                    <li><a href="/add">Add Employees</a></li>
                    <li><a href="#">Announcements</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/tipout">Tipout</a></li> 
                    <li><a href="/logout">Logout</a></li>
                </ul>

            </div>
        </div>

        <div class="container directory col">
            <h2 class="text-center">Employee Profile</h2>
                    <div class="card shadow col prof">
                        <div class="card-body profile">
                            <h4 class="card-title"><%= Employees.f_name + " " + Employees.l_name %></h5>
                            <p class="card-text"><b>ID:</b> <%= Employees.ID %> </p>
                            <p class="card-text"><b>Nickname:</b> <%= Employees.nickname %> </p>
                            <p class="card-text"><b>Position:</b> <%= Employees.def_pos %> </p>
                            <p class="card-text"><b>Phone Number:</b> <%= formatPhoneNumber(Employees.cell_num) %> </p>
                            <% if (Employees.hire_date !== "") { %>
                            <p class="card-text"><b>Hire Date:</b> <%=formatDate(Employees.hire_date)%> </p>
                            <% } %>
                            <p class="card-text"><b>Email:</b> <%= Employees.email %></p>
                            <% if (Employees.active) { %>
                            <p class="card-text"><b>Employee is: </b> active</p>
                            <% } %>
                            <% if (!Employees.active) { %>
                                <p class="card-text"><b>Employee is not active</b></p>
                            <% } %>
                            <hr>
                            <p><b>Total sales:</b> 1000<br/>
                            <b>Total tips:</b> 150<br/>
                            <b>Total cash out:</b> -50<br/>
                            <br/>
                            <b>Total tips out@ 5%:</b> 50$<br/>
                            <br/>
                            <b>Taxed amount:</b> 100<br/>
                            <b>Cash owed:</b> 0<br/>
                            <b>How much tipout to bar:</b> 10<br/>
                            <b>How much tipout to busser:</b> 40<br/>

                            </p>
                            <div class="row">
                            <a href="/home" class="btn btn-primary btn-prof">Back</a>
                            <a href="/<%= Employees.id %>/modify" class="btn btn-primary prof-btn btn-prof">Modify</a>
                            <form method="POST" action="<%= Employees.id %>?_method=DELETE">
                                <button type="submit" class="btn btn-danger btn-prof">Delete</button>
                            </form>
                            </div>
                        </div>
                    </div> 
                
            </div>
            
        </div>

      </div>
</body>
</html>